*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 scroll-behavior: smooth;
}
img {
    max-width: 100%;
    width: 100%;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
button {
    text-align: center;
    color: black;
    background-color: bisque;
    padding: .8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);
}
button:hover {
    background-color: #d4aaff;
    transition: var(--smooth);
}
:root {
    --pink: #ee697f;
    --plum: #d4aaff;
    --nana: #ff007f;
    --smooth: all .3s ease-in;
}
/* header */
header {
    position: absolute;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 0;
}
/* logo */
.navbar__logo img {
    width: 57px;
    height: 57px;
    object-fit: cover;
}
/* menu */
.navbar__links {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: var(--plum);
    z-index: 5;
    transition: var(--smooth) ;
    transform: translateX(-100%);
    opacity: 0;
}
.navbar__links.navbar__open {
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}
.navbar__link {
    list-style: none;
    margin: 55px;
}
.navbar__link a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: var(--smooth);
}
.navbar__link a:hover {
    color: #ee697f;
    transition: var(--smooth);
}
.navbar__btn {
    font-size: 1rem;
    background-color: bisque;
    margin-left: 45px;
}
/* menu button */
.navbar__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}
.navbar__icon {
    width: 45px;
    height: 6px;
    background-color: var(--pink);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}
.navbar__icon:before,
.navbar__icon:after {
   content: "";
   position: absolute;
   width: 45px;
    height: 6px;
    background-color: var(--pink);
    border-radius: 5px;
    transition: var(--smooth);
}
.navbar__icon:before {
    transform: translateY(-12px);
}
.navbar__icon:after {
    transform: translateY(12px);
}
